body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #303030;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    padding: 16px 24px;
    position: relative;
    top: 64px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d8d8d8;
  }
  
  
  /* Layout */
  header {
    background-color: #ffffff;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
  }
  
  main {
    position: relative;
    top: 64px;
  }
  
  /* Patterns */
  button {
    height: 64px;
    background-color: #303030;
    color: white;
    border: none;
    font-size: 19.2px;
    flex-shrink: 1;
    border-radius: 2px;
  }
  
  .white {
    background-color: white;
  }
  
  .dark {
    background-color: #d8d8d8;
  }
  
  /* Text styles */
  h1 {
    font-size: 32px;
    line-height: 32px;
  }
  
  h2 {
    font-size: 22.4px;
    line-height: 22.4px;
  }
  
  h3 {
    font-size: 16px;
    color: grey;
    text-transform: uppercase;
    font-weight: lighter;
  }
  
  p {
    font-size: 16px;
    line-height: 19.2px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .light {
    font-weight: lighter;
  }
  
  .caption {
    font-size: 14.4px;
    line-height: 16px;
    font-weight: 700;
  }
  
  a {
    text-decoration: none;
    color: #303030;
    line-height: 16px;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 16px;
  }
  
  /* Sections */
  /* Cover */
  .cover {
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
  }
  
  /* Articles */
  .articles {
    display: flex;
  }
  
  .card_pic {
    width: 100%;
  }
  
  .articles .others {
    padding-bottom: 32px;
    padding-top: 16px;
  }
  
  .articles .others .card_pic .description a {
    color: #28BFB2;
  }
  
  /* Courses */
  .courses h1 {
    text-align: center;
  }
  
  .courses {
    display: flex;
    flex-direction: column;
  }
  
  /* Thesis */
  .thesis {
    width: 100%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  }
  
  .thesis h1 {
    text-align: center;
  }
  
  /* Desktop */
  @media only screen and (min-width: 801px) {
  
    .mobile {
      display: none;
    }
  
    /* Patterns */
    button {
      width: 320px;
    }
  
    /* Header */
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    #logo {
      height: 64px;
      margin: 0 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      font-size: 19.2px;
    }
  
    nav {
      height: 64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-right: 24px;
    }
  
    li {
      margin-left: 16px;
      font-size: 16px;
    }
  
    /* Footer */
    footer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    footer .links a {
      margin-left: 16px;
      font-size: 16px;
    }
  
    /* Layout patterns */
    .left {
      width: 60%;
      padding: 32px 24px;
      flex-grow: 1;
      flex-shrink: 1;
    }
  
    .right {
      width: 40%;
      flex-grow: 1;
      flex-shrink: 1;
    }
  
    .card_pic .pic {
      width: 35%;
      padding: 16px;
    }
  
    .card_pic .description {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .card_pic .description h2 {
      line-height: normal;
      margin: 0;
    }
  
    /* Sections */
    /* Cover */
    .cover h1 {
      font-size: 48px;
      line-height: 48px;
    }
  
    .cover .pic img {
      width: 100%;
    }
  
    .cover .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    /* Articles */
    .articles {
      flex-direction: row;
    }
  
    .articles .featured .pic img {
      width: 100%;
      height: auto;
    }
  
    .articles .others {
      display: flex;
      flex-direction: column;
    }
  
    .articles .others .card_pic {
      display: flex;
      flex-direction: row;
    }
  
    .articles .others .card_pic .pic {
      width: 35%;
    }
  
    .articles .others .card_pic .pic img {
      width: 100%;
      height: auto;
    }
  
    /* Courses */
    .courses {
      background-color: #d8d8d8;
      padding: 32px 56px;
    }
  
    .courses .course {
      width: 30%;
      background-color: white;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 16px;
    }
  
    .courses .up_row,
    .courses .down_row {
      display: flex;
      flex-direction: row;
    }
  
    .courses .up_row {
      margin-bottom: 32px;
    }
  
    .courses .course .pic {
      width: 100%;
    }
  
    .courses .course .pic img {
      width: 100%;
    }
  
    .course .description {
      padding: 0 16px;
    }
  
  
    /* Thesis */
    .thesis_content {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  
    .thesis_content .featured {
      padding-top: 0;
    }
  
    .thesis_content .featured .pic {
      width: 100%;
    }
  
    .thesis_content .featured .pic video {
      width: 100%;
    }
  
    .thesis_content .others .card_pic {
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  
    .thesis_content .others .card_pic .pic {
      width: 35%;
    }
  
    .thesis_content .others .card_pic .pic img {
      width: 100%;
      height: auto;
    }
  }
  
  /* Mobile */
  @media only screen and (max-width: 800px) {
    .desktop {
      display: none;
    }
  
    /* Patterns */
    button {
      width: 100%;
    }
  
    .dark {
      background-color: white;
    }
  
    /* Text styles */
    h1 {
      font-size: 40px;
    }
  
    h2 {
      line-height: 25.6;
    }
  
    /* Header */
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 24px;
      width: 100%;
      justify-content: space-between;
    }
  
    /* Footer */
    footer {
      padding-top: 40px;
    }
  
    footer .links {
      display: none;
    }
  
    /* Sections */
    /* Cover */
    .cover {
      flex-direction: column;
      padding-bottom: 32px;
    }
  
    .cover .pic {
      width: 100%;
    }
  
    .cover .pic img {
      width: 100%;
    }
  
    .cover .description {
      padding: 0 16px;
    }
  
    /* Articles */
    .articles .featured {
      display: none;
    }
  
    .articles .others {
      padding: 16px 16px 32px 16px;
      width: 100%;
    }
  
    .articles .others .white {
      margin-bottom: 64px;
    }
  
    .articles .others .card_pic .pic {
      width: 100%;
    }
  
    .articles .others .card_pic .pic img {
      width: 100%;
    }
  
    /* Courses */
    .courses {
      margin-bottom: 24px;
    }
  
    .courses .up_row,
    .courses .down_row {
      display: flex;
      flex-direction: column;
    }
  
    .courses .course {
      background-color: #d8d8d8;
      padding: 16px 16px 24px 16px;
      margin: 0 16px 8px 16px;
    }
  
    .course .pic {
      display: none;
    }
  
    .course .description h3,
    .course .description p {
      display: none;
    }
  
    /* Thesis */
    .thesis .others {
      display: none;
    }
  
    .thesis .featured {
      width: 100%;
    }
  
    .thesis .featured video {
      width: 100%;
    }
  
    .thesis .featured .description {
      display: none;
    }
  
  }